<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="costil.css">


</head>
<body>
<div id="particles-js">
    <div id="vue-app">

        <div class="col-md-4" id="center-div">
            <h3>Welcome to best Library in the Hello World!</h3>

            <h5 v-if="displayedBooks.length > 0">Our Books</h5>
            <h5 v-else>Sorry, right now we don't have a books!</h5>


            <div>

                <div class="form-group">
                    <label for="searchInput">Search</label>
                    <input v-model="currentBookToSearch" id="searchInput" class="form-control" type="text"
                           name="titleForSearch"
                           placeholder="Enter title here">
                    <button v-on:click="searchBook" class="btn btn-primary mt-3">Search</button>
                </div>


            </div>
            <div class="book-box" v-if="displayedBooks.length > 0">
                <table class="books table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Author</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="book in displayedBooks">
                        <td>{{book.title}}
                        </td>
                        <td>{{book.genre.title}}
                        </td>

                        <td>{{book.author.name}}
                        </td>
                        <td>
                            <a v-on:click="deleteBook(book.id)">Delete</a>
                        </td>
                        <td>Comments

                            <span v-for="bookComment in book.comments">{{bookComment.text}}
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button th:onclick="'window.location.href=\'/library/newbook\''" class="btn btn-secondary mt-3">Add new
                Book!
            </button>
        </div>
    </div>
</div>

</body>
<script src="webjars/vue/2.5.16/vue.min.js"></script>
<script src="main.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="costil.js"></script>
</html>