<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookForEdit.title}"></title>
</head>
<body>


<form th:action="@{/library/edit(id=${bookForEdit.id})}" th:object="${bookForEdit}" method="post">
    <label>Title <input type="text" th:field="*{title}" th:required="required"></label>
    <label>Author <input th:field="*{author.name}" type="text" th:required="required"></label>
    <label>Genre <input th:field="*{genre.title}" type="text" th:required="required"></label>
    <button type="submit">Edit this book</button>

</body>
</html>