<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>

<h3>Welcome to best Library in the Hello World!</h3>

<h5 th:if="${not #lists.isEmpty(allBooks)}">Our Books</h5>
<h5 th:if="${#lists.isEmpty(allBooks)}">Sorry, right now we don't have a books!</h5>

<div class="book-box" th:if="${not #lists.isEmpty(allBooks)}">
    <table class="books">
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${allBooks}">
            <td th:text="${book.title}">John Doe</td>
            <td th:text="${book.genre.title}">Horror</td>
            <td th:text="${book.author.name}">Anonymous</td>
            <td>
                <a th:href="@{/library/edit(id=${book.id})}" href="edit.html">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<button th:onclick="'window.location.href=\'/library/newbook\''">Add new Book!</button>


</body>
</html>